{{ form_start(formplaylist, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-md-8">
            {{ form_row(formplaylist.name) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{ form_row(formplaylist.description) }}
        </div>    
    </div>
{{ form_end(formplaylist) }}